<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witam!</title>
</head>

<body>

    <% if (kindOfDay === 0 || kindOfDay == 6) { %>
    <h1 style="color: cornflowerblue"> <%= kindOfDay %> </h1>
    <% } else { %>
    <h1 style="color:firebrick"> <%= kindOfDay %> </h1>
    <% } %>

    <ul>
        <% for (i=0; i<newListGoals.length; i++) { %>
       <li> <%= newListGoals[i] %></li>
       <% } %>
    </ul>
    <form class="" action="/" method="POST">
        <input type="text" name="newGoal">
        <button title="add" type="submit">CEL</button>
    </form>



</body>

</html>